# API Server dependencies
fastapi
uvicorn
pandas
requests
faiss-cpu
redis
fakeredis
networkx
pydantic
python-jose[cryptography]
bcrypt
python-multipart
slowapi
python-dotenv

ollama
sentence-transformers
thefuzz==0.22.1
rapidfuzz==3.14.5
nltk

pydantic-settings
gunicorn
prometheus-fastapi-instrumentator
python-json-logger
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
locust